version: '3.8'

services:
  nath_chat_postgres:
    image: postgres:18.1-alpine
    container_name: nath_chat_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./nath_chat_postgres_data:/bitnami/postgresql
