name: Update Submodules

on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.PAT }}

      - name: Update submodules to latest commit
        run: |
          git submodule update --init --recursive
          git submodule foreach --recursive '
            branch=$(git symbolic-ref --short HEAD || echo main);
            git fetch origin $branch;
            git reset --hard origin/$branch
          '


      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git diff --quiet && echo "No updates" || git commit -m "Auto-update submodules"

      - name: Push changes
        run: |
          git push
